---
BasedOnStyle: Microsoft

IndentWidth: '4'
TabWidth: '4'
UseTab: ForIndentation

ColumnLimit: '130'

PointerAlignment: Left

SortIncludes: false

NamespaceIndentation: None
AlwaysBreakTemplateDeclarations: 'Yes'
AllowShortFunctionsOnASingleLine: Empty
SpaceAfterCStyleCast: true
IndentCaseBlocks: true
IndentCaseLabels: true
...
