# C++ object files.
*.o
*.a

# Local build files.
*.exe
*.out

# Binary and debug stuff
*.pdb
*.ilk
*.manifest

# VSCode
.vscode/

# IDEA
.idea/

# Visual Studio
.vs
out
CMakeSettings.json

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-*
.cmake
build.ninja
.ninja_log
.ninja_deps

# Custom
bin
imgui.ini
